*{
  margin:0;
  font-family: "Quicksand"; 
  color: #333;
 
}

.navbar{
  padding-top: 20px;
 width: 80%;
  margin:0 auto;
  border-bottom: 1px solid #f2f2f2;
}

 .logo {
  width: 100px;
  height: 100px;
  margin-left: 20px;
}

.navbar button{
  background: #1b1e20b7;
  color: #fff;
  border: 0;
  padding: 10px;
  margin-right: 20px;
  border-radius: 8px;
  cursor: pointer;
}

.navbar button:hover {
  background-color:#a7b179;
}

.navbar .links{
display: flex;
justify-content: space-between;
align-items: center;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.content {
    display: flex;
    justify-content: center; 
    margin: 20px;
} 

.header {
    display: flex;
    justify-content: center;
  }
  
   .blog-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap:20px;
  }

  /* blog prewiews / list */
.blog-preview {
    padding: 0px 0px 50px 0px;
    margin:20px 0;
    border-bottom: 1px solid #fafafa;
   background: rgb(233, 238, 233);
  }
  
  .blog-preview img{
width: 100%;
height: 200px;
  }

  .blog-preview:hover{
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  }
  
  .blog-preview h2 ,p{
    font-size: 20px;
    color:#1b1e20b7;
    margin-top: 15px;
  display: flex;
  justify-content: center;
  }
 
  .blog-preview a{
    text-decoration: none;
  }
  
  .blog-details img {
    height: 500px;
    display: flex;
    justify-content: center;
  }

  .blog-details p{
    display: flex;
    justify-content: end;
  }

  .blog-details h2{
    font-size: 20px;
    color:#1b1e20b7;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  
  .blog-details{
    margin: 20px 0;
    max-width: 400px;
    display: flex;
    justify-content:center;
  }

  .body{
    max-width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  /* create new blog form */
.create{
 width: 400px;
  margin: 0 auto;
  text-align: center;
}

.center label{
  text-align: left;
  display: block;
}

.create h2{
  font-size: 20px;
  color: #1b1e20b7;
  margin-bottom: 30px;
}

.create input, 
.create textarea,
.create select{
  width: 100%;
  padding: 6px 10px;
  margin:10px 0;
  border:1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create button{
  background: #1b1e20b7;
  color:#fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

