 *{
    margin:0;
    font-family: "Quicksand"; 
    color: #333;
  }
  
  .navbar{
    padding-top: 20px;
    max-width: 600px;
    margin:0 auto;
    border-bottom: 1px solid #f2f2f2;
  }
  
   .logo {
    width: 100px;
    height: 100px;
  }
  
  .navbar button{
    margin-left: 260px;
    background: #1b1e20b7;
    color: #fff;
    border: 0;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .navbar button:hover {
    background-color:#a7b179;
  }

  .navbar .links{
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
  }
  
  .content {
    display: flex;
    justify-content: center; 
    max-width: 800px;
    margin: 10px auto;
  } 

  /* blog prewiews / list */
.blog-preview {
    padding: 10px 16px;
    margin:20px 0;
    border-bottom: 1px solid #fafafa;
  }
  
  .blog-preview img{
    width: 200px;
    height:250px;
  }
  
  .blog-details img {
    width: fit-content;
  }
  
  .blog-preview:hover{
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  }
  
  .blog-preview h2{
    font-size: 20px;
    color:#df1d1db7;
    margin-bottom: 8px;
  }
  
  .blog-preview a{
    text-decoration: none;
  }