 *{
    margin:0;
    font-family: "Quicksand"; 
    color: #333;
  }
  
  .navbar{
    padding-top: 20px;
   width: 600px;
    margin:0 auto;
    border-bottom: 1px solid #f2f2f2;
  }
  
   .logo {
    width: 100px;
    height: 100px;
  }
  
  .navbar button{
    margin-left: 260px;
    background: #1b1e20b7;
    color: #fff;
    border: 0;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .navbar button:hover {
    background-color:#a7b179;
  }

  .navbar .links{
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
  }
  
  .content {
    display: flex;
    justify-content: center; 
    max-width: 800px;
    margin: 10px auto;
  } 

  .header {
    display: flex;
    justify-content: center;
  }
  
   .blog-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap:20px;
  }

  /* blog prewiews / list */
.blog-preview {
    padding: 10px 16px;
    margin:20px 0;
    border-bottom: 1px solid #fafafa;
  }
  
  .blog-preview img{
    width: 200px;
    height:250px;
  }

  .blog-preview:hover{
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  }
  
  .blog-preview h2{
    font-size: 20px;
    color:#1b1e20b7;
    margin-bottom: 8px;
  }
  
  .blog-preview a{
    text-decoration: none;
  }
  
  .blog-details img {
    height: 450px;
  }

  .blog-details h2{
    font-size: 20px;
    color:#1b1e20b7;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }

  .blog-details p{
    display: flex;
    justify-content: end;
  }

  .blog-details div{
    margin: 20px 0;
    max-width: 400px;
    display: flex;
    justify-content: center;
  }
  
  /* create new blog form */
.create{
 width: 400px;
  margin: 0 auto;
  text-align: center;
}

.center label{
  text-align: left;
  display: block;
}

.create h2{
  font-size: 20px;
  color: #1b1e20b7;
  margin-bottom: 30px;
}

.create input, 
.create textarea,
.create select{
  width: 100%;
  padding: 6px 10px;
  margin:10px 0;
  border:1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create button{
  background: #1b1e20b7;
  color:#fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

